<%
#puts "Element: #{element.resource_type}"
	table = element.resource
#use the row and column information in table to loop over it and
#build an html table

%>
<!-- style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: #000;" -->
<div id="fixture_<%= table.id %>" class="element_div">
	<% form_remote_tag( :url=>{:action => 'updateTable', :id => table.id}, :update => "fixture_#{table.id}") do %>
<table bordercolor="#000000" border=1 cellspacing=0 cellpadding=0>
	<!-- Put on the table header, this is where the Fixture name will be-->
	<tr>
		<td colspan="<%= table.columns %>"><%= table.fixture%></td>
	</tr>
		
<% 
	0.upto(table.rows - 1) do |i|
%>
	<tr> 
	<% 
		0.upto(table.columns - 1) do |c|
	%>
		<td><input type="text" id="cell[<%= i %>][<%= c %>]" name="cell[<%= i %>][<%= c %>][data]" /></td>
	<% end #inner loop%>
	</tr>
<% end #outer loop%>
</table>
	<%= submit_tag 'Update Table'%>
<% end  #form_remote end%>
</div>
