<% heading = element.resource%>
<%= heading.value%>
<!--

<span id="edit_field_<%= heading.id %>" class="heading_<%= heading.size%>"><%= heading.value %></span>

<%= #in_place_editor "edit_field_#{heading.id}",{:url => url_for({:action => "updateHeading", :id => heading.id})}%>

-->